.cuadro {
  height: 150px;
  opacity: 1;
  transition: opacity 500ms;
}
#cuadro1 {
  background-color: blue;
}
#cuadro2 {
  background-color: green;
}
#cuadro3 {
  background-color: yellow;
}
#cuadro4 {
  background-color: red;
}
.activo {
  opacity: 1;
}

body {
  background-color: darkslategrey;
}
